body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

.btn-standard {
    background-color: #0062AF;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid transparent;
}
.btn-outline-standard {
    background-color: #fff;
    color: #333;
    border: 2px solid #0062AF;
    padding: 10px 30px;
    border-radius: 50px;
}

.bg-l {
    background-image: url('/img/coffee.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
}
.bg-l:before {
    content: '';
    background-color: #f8fcff;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.95;
}

.p1 {
    padding-top: 35px;
    padding-bottom: 35px;
}
@media (min-width: 992px) {
    .p1 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.title-head {
    font-size: 26px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    color: #ff37a3;
}
@media (min-width: 992px) {
    .title-head {
        font-size: 40px;
        margin-bottom: 70px;
    }
}
.page .title-head {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 35px;
}
@media (min-width: 992px) {
    .page .title-head {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 10;
}
.offcanvas {
    background-color: rgba(255, 63, 140, 0.9);
}
.nav-link {
    font-weight: 300;
    color: #fff;
    padding: 15px 30px;
}
.bg-dark {
    background-color: #000 !important;
    color: #fff;
}
.navbar-brand img {
    width: 350px;
}
.navbar-toggler {
    background-color: #ff37a3;
}
/* HEADER */

/* CAROUSEL */
#main-carousel .carousel-item {
    position: relative;
    height: 300px;
    overflow: hidden;
}
@media (min-width: 992px) {
    #main-carousel .carousel-item {
        height: 500px;
    }
}
#main-carousel .carousel-item-image {
    background-size: cover;
    background-position: center center;
    height: 100%;
    position: relative;
}
#main-carousel .carousel-item-video {
    position: relative;
    height: 100%;
}
#main-carousel .carousel-item-image:before,
#main-carousel .carousel-item-video:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: linear-gradient(to bottom, rgba(4,69,87,0.7), rgba(4,30,56,0.4)); */
    background-color: rgba(0,0,0,0.5);
}
#main-carousel video {
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width: 992px) {
    #main-carousel video {
        width: 100%;
        height: auto;
    }
}
#main-carousel .carousel-caption {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    color: #fff;
    z-index: 2;
}
#main-carousel .carousel-caption h1 {
    font-size: 30px;
    font-weight: 500;
    border-bottom: 5px solid #ff37a3;
    display: inline-block;
    /* background-color: rgba(255, 63, 140, 0.15);
    padding: 15px 20px; */
    padding-bottom: 15px;
    text-shadow: 0 0 20px #000;
}
@media (min-width: 992px) {
    #main-carousel .carousel-caption h1 {
        font-size: 54px;
    }
}
#main-carousel .carousel-caption p {
    font-size: 16px;
    text-shadow: 0 0 20px #000;
}
@media (min-width: 992px) {
    #main-carousel .carousel-caption p {
        font-size: 30px;
    }
}
/* CAROUSEL */

/* MAIN CATALOG */
.main-catalog-item {
    position: relative;
    margin-bottom: 50px;
}
.main-catalog-item a {
    display: block;
    color: #ff37a3;
}
.main-catalog-item .main-catalog-item-name {
    display: inline-block;
    color: #fff;
    transition: all 1s ease;
    padding: 10px 25px;
    font-size: 40px;
    border-radius: 10px;
    margin-top: -100px;
    margin-left: 60px;
    position: relative;
    border: 4px solid #ff37a3;
}
.main-catalog-item a:hover .main-catalog-item-name {
    background-color: #ff37a3;
}
.main-catalog-item-image {
    height: 500px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.main-catalog-item-image-inner {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
.main-catalog-item a:hover .main-catalog-item-image-inner {
    transform: scale(1.1);
}
.main-catalog-item-image-inner:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    background-color: rgba(255, 63, 140, 0.1);
}
.main-catalog-item a:hover .main-catalog-item-image-inner:before {
    background-color: rgba(255, 63, 140, 0.2);
}
/* MAIN CATALOG */

/* FOOTER */
footer {
    padding: 25px 0;
    text-align: center;
}
footer a {
    color: #ff37a3;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 2px;
}
/* FOOTER */

/* MODAL */
.modal-body {
    padding: 25px;
}
.modal-body .form-control {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}
.modal-body .form-check-label {
    font-size: 14px;
}
/* MODAL */