body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 300;
}

@media (min-width: 992px) {
    .container {
        max-width: calc(100% - 50px);
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: calc(100% - 70px);
    }
}
@media (min-width: 1400px) {
    .container {
        max-width: 1270px;
    }
}

.btn-standard {
    background-color: #ff37a3;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: 2px solid transparent;
}
.btn-outline-standard {
    background-color: #fff;
    color: #333;
    border: 2px solid #0062AF;
    padding: 10px 30px;
    border-radius: 50px;
}

.bg-l {
    background-image: url('/img/coffee.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 0;
}
.bg-l:before {
    content: '';
    background-color: #f8fcff;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.95;
}

.p01 {
    padding-top: 0;
    padding-bottom: 35px;
}
@media (min-width: 992px) {
    .p01 {
        padding-top: 0;
        padding-bottom: 70px;
    }
}

.p11 {
    padding-top: 35px;
    padding-bottom: 35px;
}
@media (min-width: 992px) {
    .p11 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.title-head {
    font-size: 26px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    color: #ff37a3;
}
@media (min-width: 992px) {
    .title-head {
        font-size: 40px;
        margin-bottom: 70px;
    }
}
.page .title-head {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 35px;
}
@media (min-width: 992px) {
    .page .title-head {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background-color: #000;
    z-index: 10;
}
.header-top {
    padding-top: 20px;
    padding-bottom: 0px;
}
.header-top-logo {
    flex: 0 0 auto;
    width: 66.6667%;
}
.header-top-logo a {
    display: block;
    width: 100%;
    margin: 0 auto;
}
.header-top-logo a img {
    width: 500px;
}
.header-top-lang {
    flex: 0 0 auto;
    width: 16.6667%;
}
.header-top-lang ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-top-lang ul li {
    margin: 0 5px;
}
.header-top-lang ul li a {
    display: block;
    border: 1px solid #ff37a3;
    color: #fff;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 7px;
    font-size: 14px;
}
.header-top-cart {
    flex: 0 0 auto;
    width: 16.6667%;
}
.header-top-cart a {
    display: flex;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    text-decoration: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 8px;
    justify-content: center;
}
.header-top-cart .cart-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
}
.header-top-cart a svg {
    width: 100%;
    height: 100%;
    display: block;
}
.header-top-cart .cart-icon span {
    background-color: #ff37a3;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    border-radius: 100%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    display: block;
    position: absolute;
    top: -5px;
    right: -5px;
}
.header-bottom {
    background-color: rgba(255,255,255,0.1);
    background-color: transparent;
}
.header-bottom-menu {
    flex: 0 0 auto;
    width: 94%;
}
.header-bottom-menu .nav-link:first-child {
    padding-left: 0;
}
.header-bottom-nav-button {
    flex: 0 0 auto;
    width: 6%;
    justify-content: flex-end;
    text-align: right;
}
.header-bottom-nav-button .navbar-toggler {
    background-color: #ff37a3;
    position: relative;
    padding: 5px 10px;
    display: block;
    border-radius: 7px;
    float: right;
}
.header-bottom-nav-button .navbar-toggler svg {
    width: 30px;
    height: 30px;
    display: block;
}
.offcanvas {
    background-color: rgba(255, 63, 140, 0.9);
    background-color: rgba(50, 50, 50, 0.92);
}
.nav-link {
    font-weight: 300;
    color: #fff;
    padding: 5px 25px;
    margin-right: 25px;
}
.offcanvas .nav-link:hover,
.offcanvas .nav-link:focus {
    color: #ff37a3;
}
.bg-dark {
    background-color: transparent !important;
    color: #fff;
}
/* HEADER */

/* CAROUSEL */
#main-carousel .carousel-item {
    position: relative;
    height: 300px;
    overflow: hidden;
}
@media (min-width: 992px) {
    #main-carousel .carousel-item {
        height: 500px;
    }
}
#main-carousel .carousel-item-image {
    background-size: cover;
    background-position: center center;
    height: 100%;
    position: relative;
}
#main-carousel .carousel-item-video {
    position: relative;
    height: 100%;
}
#main-carousel .carousel-item-image:before,
#main-carousel .carousel-item-video:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-image: linear-gradient(to bottom, rgba(4,69,87,0.7), rgba(4,30,56,0.4)); */
    background-color: rgba(0,0,0,0.5);
}
#main-carousel video {
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (min-width: 992px) {
    #main-carousel video {
        width: 100%;
        height: auto;
    }
}
#main-carousel .carousel-caption {
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    color: #fff;
    z-index: 2;
}
#main-carousel .carousel-caption h1 {
    font-size: 30px;
    font-weight: 500;
    border-bottom: 5px solid #ff37a3;
    display: inline-block;
    /* background-color: rgba(255, 63, 140, 0.15);
    padding: 15px 20px; */
    padding-bottom: 15px;
    text-shadow: 0 0 20px #000;
}
@media (min-width: 992px) {
    #main-carousel .carousel-caption h1 {
        font-size: 54px;
    }
}
#main-carousel .carousel-caption p {
    font-size: 16px;
    text-shadow: 0 0 20px #000;
}
@media (min-width: 992px) {
    #main-carousel .carousel-caption p {
        font-size: 30px;
    }
}
/* CAROUSEL */

/* MAIN CATALOG */
.main-catalog-item {
    position: relative;
    margin-bottom: 50px;
}
.main-catalog-item a {
    display: block;
    color: #ff37a3;
}
.main-catalog-item .main-catalog-item-name {
    display: inline-block;
    color: #fff;
    transition: all 1s ease;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 10px;
    margin-top: -100px;
    margin-left: 20px;
    position: relative;
    border: 3px solid #ff37a3;
}
.main-catalog-item a:hover .main-catalog-item-name {
    background-color: #ff37a3;
}
.main-catalog-item-image {
    height: 250px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.main-catalog-item-image-inner {
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
.main-catalog-item a:hover .main-catalog-item-image-inner {
    transform: scale(1.1);
}
.main-catalog-item-image-inner:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all 1s ease;
    background-color: rgba(255, 63, 140, 0.1);
}
.main-catalog-item a:hover .main-catalog-item-image-inner:before {
    background-color: rgba(255, 63, 140, 0.2);
}
/* MAIN CATALOG */

/* MAIN HISTORY */
.main-history p {
    font-size: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.main-history p:last-child {
    margin-bottom: 0;
}
/* MAIN HISTORY */

/* CATALOG PAGE */
.category-page-list-item {
    display: block;
    text-align: center;
    text-decoration: none;
    position: relative;
    color: #fff;
    margin-bottom: 50px;
}
.category-page-list-item:hover,
.category-page-list-item:focus {
    color: #ff37a3;
}
.category-page-list-item-image {
    height: 250px;
    position: relative;
}
.category-page-list-item-image img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.category-page-list-item span {
    display: block;
    font-size: 20px;
    font-weight: 700;
    color: #ff37a3;
}
.category-page-list-item h3 {
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
}
/* CATALOG PAGE */

/* PRODUCT PAGE */
.product-page {
    padding-top: 70px;
    padding-bottom: 70px;
}
.product-page .main-carousel .carousel-cell {
    width: 100%;
    height: 400px;
}
.product-page .main-carousel .carousel-cell img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.product-page .description {
    padding-top: 60px;
    padding-bottom: 60px;
}
.product-page .price {
    color: #ff37a3;
    font-size: 30px;
    display: block;
    margin-bottom: 50px;
    font-weight: 700;
}
.product-page .btn-standard {
    background: none;
    border: 2px solid #ff37a3;
    color: #fff;
    padding: 15px 30px;
}
.product-page .title-head {
    margin-top: 0;
    margin-bottom: 50px;
    color: #fff;
}
.product-page .flickity-prev-next-button {
    width: 40px;
    height: 40px;
}
.product-page .flickity-prev-next-button.previous {
    left: 50px;
}
.product-page .flickity-prev-next-button.next {
    right: 50px;
}
.product-page .video {
    padding: 15px;
    border-radius: 10px;
    width: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 30px;
    background-color: rgba(255,255,255,0.1);
}
.product-page .video video {
    width: 100%;
    display: block;
}

/* PRODUCT PAGE */

/* CART PAGE */
.cart-wrapper {
    background-color: rgba(255,255,255,0.1);
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 12px;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.cart-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.cart-wrapper .btn-outline-standard {
    border-color: #ff37a3;
    font-size: 20px;
    background: none;
    color: #ff37a3;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 20px;
}
.cart-item-col-name {
    flex: 0 0 auto;
    width: 60%;
}
.cart-item-col-name a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.cart-item-col-quantity {
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
}
.cart-item-amount {
    text-align: center;
    margin: 0 5px;
}
.cart-item-amount::-webkit-outer-spin-button,
.cart-item-amount::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cart-item-amount {
  -moz-appearance: textfield;
}
.cart-item-col-price {
    flex: 0 0 auto;
    width: 13%;
    text-align: center;
}
.cart-item-col-del {
    flex: 0 0 auto;
    width: 7%;
    text-align: right;
}
.cart-total {
    text-align: right;
}
.cart-total strong {
    color: #ff37a3;
}
.cart-panel {
    margin-top: 20px;
}
.cart-panel .form-control {
    height: 55px;
    line-height: 55px;
    padding: 0 15px;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
}
.cart-panel .form-label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.cart-panel .btn-standard {
    height: 55px;
}
.card-loader {
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* CART PAGE */

/* FOOTER */
footer {
    padding: 25px 0;
    text-align: center;
}
footer a {
    color: #ff37a3;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 2px;
}
.socials {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.socials a {
    display: inline-flex;
    align-items: center;
    padding: 10px 30px;
    border: 1px solid #ff37a3;
    border-radius: 6px;
    color: #fff;
    margin: 0 10px;
}
.socials a:hover {
    background-color: #ff37a3;
}
.socials a img {
    width: auto;
    height: 40px;
    margin-right: 10px;
}
/* FOOTER */

/* MODAL */
.modal-body {
    padding: 25px;
}
.modal-body .form-control {
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}
.modal-body .form-check-label {
    font-size: 14px;
}
/* MODAL */